name: Test coverage

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the Project
        run: uv sync --locked --all-extras --dev

      - name: Run Tests
        run: uv run pytest tests --verbose --color=yes --cov=fibgrid --cov-report term-missing --cov-report xml

      - name: Coverage comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
          coverage_file: coverage.xml
          VERBOSE: false
